aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
amqp
arabic-reshaper
asgiref
asn1crypto
async-timeout
attrs
autobahn
Automat
billiard
black
Brotli
celery
certifi
cffi
cfgv
channels
channels_redis
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
constantly
cron-descriptor
cryptography
cssselect2
daphne
distlib
Django
django-case-insensitive-field
django-celery-beat
django-ckeditor
django-ckeditor-5
django-cors-headers
django-filter
django-js-asset
django-multiselectfield
django-phonenumber-field
django-stubs
django-stubs-ext
django-timezone-field
djangorestframework
djangorestframework-simplejwt
djangorestframework-stubs
dnspython
drf-yasg
email_validator
filelock
flake8
fonttools
frozenlist
gunicorn
html5lib
hyperlink
identify
idna
incremental
inflection
isort
kombu
lxml
mccabe
msgpack
multidict
mypy
mypy-extensions
nodeenv
oscrypto
packaging
pathspec
phonenumbers
pillow
platformdirs
pre-commit
pre-commit-hooks
prompt_toolkit
propcache
psycopg2-binary
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydyf
pyHanko
pyhanko-certvalidator
PyJWT
pyOpenSSL
pypdf
pyphen
python-barcode
python-bidi
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
qrcode
redis
reportlab
requests
rest-framework-simplejwt
ruamel.yaml
ruamel.yaml.clib
service-identity
stripe
svglib
tinycss2
tinyhtml5
tomli
twilio
Twisted
txaio
types-PyYAML
types-requests
typing_extensions
tzdata
tzlocal
uritemplate
uritools
urllib3
vine
virtualenv
wcwidth
weasyprint
webencodings
xhtml2pdf
yarl
zope.interface
zopfli
